<% content_for(:title,  "#{@line.name} | Wonderland") %>

<h1><%= @line.name %> Line</h1>

<p>Here are all of the stations available for <%= @line.name %> Line:</p>
<ul><% @line.stations.each do |station| %>
  <li><%= link_to "#{station.name}", station_path(station) %></li>
<% end %>
</ul>

<div class='lower-link'>
  <%= link_to "Click here to see all lines", lines_path %> |
  <%= link_to "Click to create a new stop", new_stop_path %> |
  <%= link_to "Click here to make a new line", new_line_path %>
</div>

<div class='transform'>
  <p><%= link_to "Edit", edit_line_path(@line) %> |
  <%= link_to "Delete", line_path(@line),
                        data: {confirm: "Who are YOU? Are you sure?",
                                method: "delete"},
                        :class => "btn btn-danger" %></p>
</div>
